@import '../../styles/variables.css';

.elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  height: var(--board-size);
  overflow-y: scroll;
  padding-inline-start: 0;
  width: var(--history-width);
  margin-left: calc(var(--margin) * 2);
}

@media screen and (max-width: 600px) {
  .elem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--board-size);
    height: calc(var(--history-height) * 4);
    margin-left: 0;
  }
}
